*.log*
*.jar
.project
.settings
.classpath
.factorypath
*/target/*
*/logs/*
sop-config-service/target/
sop-asn-service/target/
sop-assignment-service/target/
sop-log-service/target/
sop-http2/target/
sop-config-service/logs/
sop-asn-service/logs/
sop-log-service/logs/
sop-http2/logs/
sop-assignment-service/logs/
sop-config-service/.factorypath
sop-asn-service/.factorypath
sop-log-service/.factorypath
sop-assignment-service/.factorypath
sop-http2/.factorypath
sop-config-service/.classpath
sop-asn-service/.classpath
sop-log-service/.classpath
sop-assignment-service/.classpath
sop-http2/.classpath
